* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4ecf1;
}
#root {
  display: flex;
  background-color: #e4ecf1;
}

h1 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 3rem;
}

h3 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  margin: 50px
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 15px;
  background-color: #c9d9e3;
  width: 100%;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 0.4em;
  border: none;
  background-color: #eeb3aa;
  color: #323031;
}

button:hover {
  color: #eeb3aa;
  background-color: #494647;
  cursor: pointer;
}

#cards {
  display: flex;
  flex-flow: wrap;
}

#person {
  background-color: #ffd770;
  margin: 5px;
  padding: 5px;
  border: #797a9e solid 2px;
  text-align: center;
}
