* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4ecf1;
  display: flex;
  flex-direction: column;
}
#root {
  display: flex;
  background-color: #e4ecf1;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 3rem;
}

h3 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  margin: 50px
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 15px;
  background-color: #c9d9e3;
  width: 100%;
}

#update {
  display: flex;
  flex-direction: row;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 0.4em;
  border: none;
  background-color: #eeb3aa;
  color: #323031;
}

button:hover {
  color: #eeb3aa;
  background-color: #494647;
  cursor: pointer;
}

#cards {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#person {
  background-color: #ffd770;
  margin: 5px;
  padding: 5px;
  border: #797a9e solid 2px;
  text-align: center;
}



/* add form css style */

#name {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 300%;
}

#company {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 300%;

}

#role {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 300%;

}

#image {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 300%;
}

/* .target {
  width: 100%;
} */

#name[type=text]:focus {
  background-color: c9d9e3;
}

#company[type=text]:focus {
  background-color: c9d9e3;
}

#role[type=text]:focus {
  background-color: lightblue;
} 

#image[type=text]:focus {
  background-color: c9d9e3;
}
